@import 'style';





// Banner Section

.banner{
    background-image: url('../img/NoPath - Copy (18).png');
}

// Banner End



// Brand Development Section

.brand-dev{

    @media (min-width:576px) {
        margin: $space-lg 0;
        h2{
            width: 35%;
        }
    }

    @media (min-width:576px) and (max-width:768px) {
        margin: $space-md;
        padding: $space-md*2 $space-md;
        h2{
            width: 100%;
            margin-bottom: $space-lg;
        }
    }
}

// Brand Dev End


// Financial Section

.financial{
    background-color: $color-dark;
    padding: $space-sm*2 $space-sm/2;
    margin-bottom: 0;
    p,hr,h2{
        color: $color-white;
    }
    .about-inner{
        margin-top: $space-sm;
    }

    @media (min-width:576px) {
        padding: $space-lg*3 $space-lg ;
       margin-top: 0;
        
        .about-inner{
            margin-top: 0;
        }
    }

    @media (min-width:576px) and (max-width:768px) {
        margin: $space-md 0;
        padding: $space-md*3 $space-md;
        .about-inner{
            margin-top: $space-md*2;
        }

        h2{
            margin-bottom: $space-md;
        }
    }

}

// Financial End

// Portfolio Section

.portfolio{
  @media (min-width:576px) {
      margin: $space-lg*2 0;
  }

  @media (min-width:576px) and (max-width:768px) {
      margin: $space-md 0;
      h2{
        margin-bottom: $space-md;
    }
  }
}

// Portfolio End

