doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Sphere
        link(rel="stylesheet", href="../fonts/stylesheet.css")
        link(rel="stylesheet", href="../css/bootstrap.min.css")
        link(rel="stylesheet", href="../css/services.css")
    body
        //- Header Section
        header.position-absolute.w-100.my-header.d-flex.justify-content-between.align-items-center
            .hamburger
                span 
                span 
                span 
            nav.my-nav 
                ul.links-main
                    li
                        a(href="../index.html") Portfolio
                    li
         
                        a(href="./about-us.html") About Us
                    li
                        a(href="#")  Services

                ul.small-links
                    li
                        a(href="./contact-us.html") Contact Us 
                    li
                        a(href="./about-sphere.html") Talent Roster

            img.logo(src="../img/logo2.png", alt="")
        //- Header End


        //- Preloader
        #preloader
            .sk-three-bounce
                .sk-child.sk-bounce1
                .sk-child.sk-bounce2
                .sk-child.sk-bounce3

        //- Banner Section
        section.banner.d-flex
            h1 Services

        //- Banner End


        //- Brand Development
        section.about.brand-dev   
            p.section-title Brand Development
            hr
            .about-inner.d-flex.flex-column.flex-lg-row 
                h2. 
                    The white glove treatment
                .about-content 
                    p. 
                        What is the white glove treatment? Its our way of saying how we treat you
                        with the aim of progressing your career in your respective line of work.

                    p. 
                        We ensure you get the best contract deals preventing signing of shady 
                        deals. A qualified and renowned attorney walks you through the contract
                        ensuring you are always in loop and have a say if not at terms with 
                        some of the terms.
        //- Brand Dev End

        //- Financial Service Section
        section.about.financial
            p.section-title Financial Service
            hr
            .about-inner.d-flex.flex-column.flex-lg-row 
                h2. 
                    Strategic financial management
                .about-content 
                    p. 
                        Securing the bag. With financial advisors that have 75 years of experience
                        in the field in our agency we ensure you get sound financial advise,
                        which includes money management by means of investments etc.

                    p. 
                        We also ensure when signing with brands you get ambassador deals
                        and or brand purchase discounts.

        //- Financial End 

        //- Portfolio Dev Section
        section.about.portfolio 
            p.section-title Portfolio Development
            hr
            .about-inner.d-flex.flex-column.flex-lg-row 
                h2. 
                    Fundamental talent mapping
                .about-content 
                    p. 
                        We aim to walk you through the journey of becoming a brand by means
                        of outlining key checkpoints needing to be passed and how best
                        to proceed from them.

                    p. 
                        With a number of reference figures we have worked with, we will
                        ensure you get to the best result.

        //- Portfolio End


         //- Footer Section
        footer.my-footer 
            .logo
                img.img-fluid(src="../img/logo1.png", alt="")
            hr
            nav.footer-nav
                a(href="#") Contact Us 
                a(href="") Portfolio
                a(href="") For Brands
                a(href="") For Talent 
        //- Footer End


        script(src="../js/jquery-2.2.0.min.js")
        script(src="../js/bootstrap.bundle.min.js") 
        script(src="../js/main.js") 